*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[10];
      grid-template-columns: repeat(10, 1fr);
  -ms-grid-rows: (5vw)[9];
      grid-template-rows: repeat(9, 5vw);
  grid-gap: .5rem;
  padding-top: .9rem;
  background: #48b4e6;
  height: 100vh;
}

.gallery__item {
  -webkit-transition: all .6s;
  transition: all .6s;
}

.gallery__item:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.gallery__item--1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

.gallery__item--2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7 / span 2;
}

.gallery__item--3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / span 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
}

.gallery__item--4 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7 / span 2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
}

.gallery__item--5 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4 / span 3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  grid-row: 4 / span 3;
}

.gallery__item--6 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5 / span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
}

.gallery__item--7 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7 / span 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / span 2;
}

.gallery__item--8 {
  -ms-grid-column: 9;
  -ms-grid-column-span: 1;
  grid-column: 9 / span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3 / span 2;
}

.gallery__item--9 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / span 1;
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / span 2;
}

.gallery__item--10 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4 / span 2;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7 / span 2;
}

.gallery__item--11 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6 / span 1;
  -ms-grid-row: 7;
  -ms-grid-row-span: 3;
  grid-row: 7 / span 3;
}

.gallery__item--12 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7 / span 1;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7 / span 2;
}

.gallery__item--13 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7 / span 2;
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7 / span 2;
}

.gallery__item--14 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
}

.gallery__item--15 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 1;
  grid-column: 7 / span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

.gallery__item--16 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 1;
  grid-column: 8 / span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / span 1;
}

.gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
/*# sourceMappingURL=main.css.map */